<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar>
        <mat-toolbar-row>
           <span style="">CASCADE TEAM</span>
           <span style="flex: 1 1 auto;"></span> <!-- Aligne la suite sur le côté droit de l'écran -->
           <a class="lower" routerLink="/link_url">Liens utiles&nbsp;&nbsp;</a>
           <span>&nbsp;&nbsp;</span>
           <a class="lower" routerLink="/login" (click)="logout()">Logout</a>
        </mat-toolbar-row>
     </mat-toolbar>
</div>
<router-outlet></router-outlet>
