<h3>Login</h3>
<form class="container-fluid" role="form" (ngSubmit)="login()" [formGroup]="loginForm" *ngIf="!registered">
	<div class="row">
		<mat-form-field class="col-12">
			<input matInput placeholder="Username" name="userName" id="userName" formControlName="userName">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field class="col-12">
			<input type="password" matInput placeholder="Mot de passe" name="password" id="password" formControlName="password">
		</mat-form-field>
	</div>
	<div class="row">
		<div class="col-12">
			<button type="submit" mat-stroked-button color="primary">Connexion</button>
		</div>
	</div>
</form>
<div *ngIf="registered" style="text-align:center">
	<p>Connexion réussie</p>
</div>