<div class="container-fluid div-login">
	<mat-card class="row">
		<mat-card-header>
			<h4 style="margin: auto;">Bonjour !</h4>
		</mat-card-header>			
		<mat-card-content>
			<form class="container-fluid" role="form" style="margin: auto;" (ngSubmit)="login()" [formGroup]="loginForm" *ngIf="!registered">
				<div class="row">
					<mat-form-field>
						<mat-label>Login</mat-label>
						<input matInput placeholder="Login" name="userName" id="userName" formControlName="userName" required>
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field>
						<mat-label>Mot de passe</mat-label>
						<input [type]="hide ? 'password' : 'text'" matInput placeholder="Mot de passe" name="password" id="password" formControlName="password" required>
						<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher mot de passe'" [attr.aria-pressed]="hide">
							<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
						</button>
					</mat-form-field>
				</div>		
				<div class="row" style="justify-content: center;">
					<button type="submit" mat-raised-button color="primary">Connexion</button>
					<button mat-raised-button color="warning">
						<a routerLink="/register">Inscription</a>
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>