<h3>Register</h3>
<form class="container-fluid" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!registered">
	<div class="row">
		<mat-form-field class="col-12">
			<input matInput placeholder="Login" name="login" id="login" formControlName="login">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field class="col-6">
			<input type="password" matInput placeholder="Mot de passe" name="password" id="password" formControlName="password">
		</mat-form-field>
		<mat-form-field class="col-6">
			<input type="password" matInput placeholder="Vérifier le mot de passe" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field class="col-6">
			<input type="lastName" matInput placeholder="Prénom" name="firstName" id="firstName" formControlName="firstName">
		</mat-form-field>
		<mat-form-field class="col-6">
			<input type="firstName" matInput placeholder="Nom" name="lastName" id="lastName" formControlName="lastName">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field class="col-12">
			<input type="email" matInput placeholder="Adresse email" name="email" id="email" formControlName="email">
		</mat-form-field>
	</div>
	<div class="row">
		<div class="col-12">
			<button type="submit" mat-stroked-button color="primary">Inscription</button>
		</div>
	</div>
</form>
<div *ngIf="registered" style="text-align:center">
	<p>Le compte a été créé avec succès. Un email d'activation a été envoyé à l'adresse soumise.</p>
	<p>Si celui-ci n'a pas été reçu, cliquer ici pour le renvoyer.</p>
</div>