<h3>Login</h3>
<form style="width:40%;margin:auto">
	<div class="row">
		<div class="col-6">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Login">
			</mat-form-field>
		</div>
		<div class="col-6">
			<mat-form-field class="example-full-width">
				<input type="password" matInput placeholder="Mot de passe">
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button mat-stroked-button color="primary">Connection</button>
		</div>
	</div>
</form>