
<div class="container-fluid" *ngIf="level">
    <div class="row">
        <div class="col-7" id="divDetail">
            <div class="row">
                <div class="title col-12">{{level.title}}</div>
            </div>
            <div class="row">
                <div class='notes'>
                    <div class='launchLevel'>
                        <img class='icon' src="../../assets/play.svg" [routerLink]="['/levelmechanic', level.id]">
                    </div>
                    <div class='evaluation evaluationUp' (click)="evaluate(1)"> 
                        <fa-icon [icon]="faThumbsUp"></fa-icon>
                        <div class='note'>{{level.evaluationPos}}</div>
                    </div>
                    <div class='evaluation evaluation evaluationDown'(click)="evaluate(0)">
                        <fa-icon [icon]="faThumbsDown"></fa-icon>
                        <div class='note'>{{level.evaluationNeg}}</div>
                    </div>
                    <div class='share'>
                        <img class='share' src="../../assets/share.svg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="description col-12">{{level.description}}</div>
            </div>
        </div>
        <div class="col-5" id="divComments">
            <h4>Commentaires</h4>
            <form class="formComment" (submit)="saveComment($event, 0)" >
                <div class="divInputComment">
                    <mat-form-field class="inputComment">
                        <input matInput placeholder="Commenter">
                    </mat-form-field>
                </div>
                <button class='boutons buttonReply' type="submit" mat-stroked-button>Ok</button>
            </form>
            <div class="comment" *ngFor='let comment of level.comments'>

                <div>
                    <span class="userName">{{comment.user.userName}}</span>
                    <span class="dateCreated">le {{comment.dateCreated| date: 'dd/MM/yyyy'}} à {{comment.dateCreated| date:'HH:mm '}}</span>
                </div>
                <div class="message">{{comment.message}}</div>

                <div class="children" *ngIf="comment.children && comment.children.length > 0">Réponses :</div>
                <div class="child" *ngFor='let child of comment.children'>
                    <div><span class="userName">{{child.user.userName}}</span><span class="dateCreated">le {{child.dateCreated| date: 'dd/MM/yyyy'}} à {{child.dateCreated| date:'HH:mm '}}</span></div>
                    <div class="message">{{child.message}}</div>
                </div>

                <div>
                    <a class="linkAnswer" (click)="collapsedAnswer = (collapsedAnswer == comment.id ? 0 : comment.id)">Répondre...</a>
                    <div [ngbCollapse]="collapsedAnswer != comment.id">
                        <form class="formComment" (submit)="saveComment($event, comment.id)">
                            <div class="divInputComment">
                                <mat-form-field class="inputComment">
                                    <input matInput placeholder="Commenter">
                                </mat-form-field>
                            </div>
                            <button class='boutons buttonReply' type="submit" mat-stroked-button>Ok</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
