<h3>Ajouter une image</h3>
<form class="container-fluid" role="form" (ngSubmit)="save()" [formGroup]="elementImageForm">
	<div class="row">
		<mat-form-field class="col-12">
			<input type="text" matInput placeholder="Nom" name="name" id="name" formControlName="title">
		</mat-form-field>
    </div>
	<div class="row">
        <mat-card class="col-12">
            <mat-card-title>Image de base</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-9">
                        <input hidden id="inputImageBase" type="file" accept="image/*" (change)="loadImage($event, 'base')" />
                        <label for="inputImageBase" class="md-button md-raised md-primary">Choose Files</label>
                    </div>
                    <div class="col-3">
                        <img [src]="'data:' + elementImage.baseContentType + ';base64,' + elementImage.base" style="height:100px;width:100px" *ngIf="elementImage.base"/>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-12">
            <mat-card-title>Image de résultat (optionnelle)</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <div class="col-9">
                        <input hidden id="inputImageResult" type="file" accept="image/*" (change)="loadImage($event, 'result')" />
                        <label for="inputImageResult" class="md-button md-raised md-primary">Choose Files</label>
                    </div>
                    <div class="col-3">
                        <img [src]="'data:' + elementImage.resultContentType + ';base64,' + elementImage.result" style="height:100px;width:100px" *ngIf="elementImage.result"/>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</form>