<mat-card id="cardForm" class="col-12">
    <h4>Ajouter une image</h4>
    <form class="container-fluid" role="form" (ngSubmit)="save()">
        <div class="row">
            <mat-form-field class="col-12">
                <input type="text" matInput placeholder="Nom" name="name" id="name" [(ngModel)]="elementImage.name">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <input hidden id="inputImageBase" type="file" accept="image/*" (change)="loadImage($event, 'base')" />
                        <label for="inputImageBase" class="md-button md-raised md-primary">Choisir l'image de base...</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Aperçu :</p>
                        <img [src]="'data:' + elementImage.baseContentType + ';base64,' + elementImage.base" style="height:200px;width:200px" *ngIf="elementImage.base"/>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <input hidden id="inputImageResult" type="file" accept="image/*" (change)="loadImage($event, 'result')" />
                        <label for="inputImageResult" class="md-button md-raised md-primary">Choisir l'image de résultat...</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Aperçu :</p>
                        <img [src]="'data:' + elementImage.resultContentType + ';base64,' + elementImage.result" style="height:200px;width:200px" *ngIf="elementImage.result"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" mat-stroked-button color="primary" id="buttonSubmit">Enregistrer</button>
            </div>
        </div>
    </form>
</mat-card>

<h4>Liste des images disponibles :</h4>
<div id="containerElementImageCard">
    <mat-card class="elementImageCard" *ngFor="let ei of elementImages">
        <div class="elementImageCardName">{{ ei.name }}</div>
        <img [src]="'data:' + ei.baseContentType + ';base64,' + ei.base" style="width:50%" *ngIf="ei.base"/>
        <img [src]="'data:' + ei.resultContentType + ';base64,' + ei.result" style="width:50%" *ngIf="ei.result"/>
    </mat-card>
</div>