.category-content{
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 20em;
    margin : auto;
}

.titre{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope';
    font-size: 24px;
}

.label{
    margin-bottom: 8px;
    font-weight: bold;
}

.nom, .prenom, .email{
    margin-left:5px;
}

.email{
    margin-bottom:20px;
}

.formulaire{
    height: 45px;
}

.bouton {    
    margin-left: 9%;
    margin-top: 32px;
    text-align: center;
    width: 80%;
    background-color: #ffcc99;
    position: static;
    color: rgb(48, 47, 47);
    cursor: pointer;
    padding-left:0px;
    margin-bottom: 10%;
}

mat-card {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#fcf7f8;
    min-height: 25em;
    min-width: 20em;
}
