.category-content{
    margin: 20px;
}

.titre{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.label{
    margin-bottom: 8px;
    font-weight: bold;
}

.nom, .prenom, .email{
    margin-left:5px;
}

.email{
    margin-bottom:20px;
}

.formulaire{
    height: 45px;
}

.bouton{
    background-color: rgb(223, 221, 221);
    border: none;
    margin-top:15px;
    cursor: pointer;
    padding-left:0px;
}