#containerCard {
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.category-content{
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 20em;
    margin : auto;
}

.titre{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope';
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Ropa Sans', sans-serif;
}

.title{
    margin-top: 15px;
}

.label{
    margin-bottom: 8px;
    font-weight: bold;
}

.nom, .prenom, .email{
    margin-left:5px;
}

.email{
    margin-bottom:20px;
}

.formulaire{
    height: 45px;
}

.bouton {    
    margin-top: 32px;
    text-align: center;
    background-color: #ffcc99;
    position: static;
    color: rgb(48, 47, 47);
    cursor: pointer;
    padding-left:0px;
    margin-bottom: 10%;
    text-transform: uppercase;
    width:18em;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-family: 'Ropa Sans', sans-serif;
}

fa-icon{
    font-size: 50px;
    margin: 20px;
}

.boutonChanger{
    margin-top:13em;
}

.title{
    font-weight: bold;
    margin-top:20px;
}

.block{
    margin-top:1em;

}

mat-card {
    margin: 10vw auto;
    background-color:#fcf7f8;
}

.back {
    cursor: pointer;
    position:absolute;
    top:10px;
    left:10px;
    color:#f5f5f5;
}
