
<div>
    <span class='header logo'> logo</span>
    <span class ='header profil' (click)='menuExpended = !menuExpended'>
        <img class='imgMenu' *ngIf ='!menuExpended' src="../../assets/arrowDown.svg" >
        <img class='imgMenu' *ngIf ='menuExpended' src="../../assets/arrowUp.svg" >
        <img class='imgMenu' src="../../assets/user.svg">
        <div class='menu' *ngIf='menuExpended'>
            <div (click)='logout()'>Déconnexion</div>
            <div routerLink=''>Voir mon profil</div>
        </div>
    </span>
</div>
<div class='category-content scroll'>
    <div class='titre'>JEUX</div>
    <div class='dropdown'>
        <mat-form-field>
            <mat-label>Filtres: </mat-label>
            <mat-select [(ngModel)]="categorySelected">
                <mat-option value="0">Tout</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br/>
    <div class="category-panel row" *ngFor="let level of filterCat()">
        <div class="game title col-md-6">{{level.title}}</div>
        <div class='notes col-md-6'>
            <div class='game up'> 
                <div>
                    <img class='pouce' src="../../assets/up.svg">
                </div>
                <div class='note'>{{level.evaluationPos}}</div>
            </div>
            <div class='game down'>
                <div>
                    <img class='pouce' src="../../assets/down.svg">
                </div>
                <div class='note'>{{level.evaluationNeg}}</div>
            </div>
            <div class='game partage'>
                    <img class='share' src="../../assets/share.svg">
            </div>
        </div>
        <hr>
    </div>
</div>