<div>
    <span class='header logo'> logo</span>
    <span class ='header profil' (click)='menuExpended = !menuExpended'>
        <img class='imgMenu' *ngIf ='!menuExpended' src="../../assets/arrowDown.svg" >
        <img class='imgMenu' *ngIf ='menuExpended' src="../../assets/arrowUp.svg" >
        <img class='imgMenu' src="../../assets/user.svg">
        <div class='menu' *ngIf='menuExpended'>
            <div routerLink="/login" (click)="logout()">Déconnexion</div>
            <div routerLink='/profil'>Voir mon profil</div>
            <div routerLink='/link_url'>Liens utiles</div>
        </div>
    </span>
</div>

<div id="containerCard" class="container-fluid">
    <div class="row">
        <div class="col-3">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class='col-12'><h4 id="title">Explorer les niveaux</h4></div>
                    </div>
                    <div class="row">
                        <div class='col-12 dropdown'>
                            <mat-form-field>
                                <mat-label>Filtre par catégorie :</mat-label>
                                <mat-select [(ngModel)]="categorySelected">
                                    <mat-option value="0">Tout</mat-option>
                                    <mat-option *ngFor="let category of categories" [value]="category.id">
                                        {{category.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 rowLevel" *ngFor="let level of filterCat()">
                            <div class="levelName" (click)="selectedLevel = level.id">{{level.title}}</div>
                            <div class='evaluationUp'> 
                                <div>
                                    <img class='pouce' src="../../assets/up.svg">
                                </div>
                                <div class='note'>{{level.evaluationPos}}</div>
                            </div>
                            <div class='evaluationDown'>
                                <div>
                                    <img class='pouce' src="../../assets/down.svg">
                                </div>
                                <div class='note'>{{level.evaluationNeg}}</div>
                            </div>
                        </div>
                        <div class="col-12 rowLevel rowAddLevel" [routerLink]="['/levelmechanicform']">
                            <fa-icon [icon]="faPlusCircle"></fa-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-9">
            <mat-card>
                <app-detail-level [selectedLevel]="selectedLevel"></app-detail-level>
            </mat-card>
        </div>
    </div>
</div>