<div class='back' routerLink='/home'><fa-icon [icon]="iconBack"></fa-icon></div>
<div class="row">
		<mat-card class="texte col-md-3">		
				<mat-card-content>				  
					<h3>Liens utiles pour progresser en CSS</h3>
					<p>
							Bienvenue ! Il y a pleins de communautés dédiées à l'apprentissage du langage CSS. Alsacreations, w3schools, etc. Vous trouverez de très bons tutoriels en cliquant sur les liens suivants.
					</p>
				</mat-card-content>
			</mat-card>

		<mat-card class="div-login col-md-9">		
			<mat-card-content>		
				<h3>Liens: </h3>		  
				<span>
				<mat-list role="list">
					<mat-list-item role="listitem">
						<h4>CSS tutorial :</h4>
					</mat-list-item>
					<mat-list-item role="listitem">
						<a href="https://www.w3schools.com/css/default.asp">W3Schools Css</a>
					</mat-list-item>
					<mat-list-item role="listitem">
						<h4>Flexbox tutorial</h4>
					</mat-list-item>
					<mat-list-item role="listitem">
						<a href="https://flexboxfroggy.com/#fr">FlexBox Froggy</a>
					</mat-list-item>
					<mat-list-item role="listitem">
						<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">FlexBox Guide</a>
					</mat-list-item>
					<mat-list-item role="listitem">
						<h4>Texte tutorial</h4>
					</mat-list-item>
					<mat-list-item role="listitem">
						<a href="https://www.w3schools.com/css/css_text.asp">W3schools Css Text</a>
					</mat-list-item>
				</mat-list>
			</span>
			</mat-card-content>
		</mat-card>
		</div>
