.div-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
    background-color:#fcf7f8;
}

mat-card {
    width: auto;
    margin: auto;
    min-height: 20em;
    margin-top: 35px;
}

.log {
    margin-top: 20px;
}

.boutons {
    margin-left: 9%;
    margin-top: 32px;
    text-align: center;
    width: 80%;
    background-color: #ffcc99;
    position: static;
    color: rgb(48, 47, 47);
}

/* Blanc #fcf7f8 / Vert foncé #515b3a / Violet #856a5d */
container-fluid {
    display: flex;
    flex-direction: row;
}

h3 {
    margin: auto;
    justify-content: center;
    font-family: 'Annie Use Your Telescope';
    font-size: 36px;
}

p {
    margin: auto;
    justify-content: center;
    font-family: 'Annie Use Your Telescope';
    font-size: 24px;
}

a {
    font-style: oblique;
    cursor: pointer;
}
