.div-login{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin : auto;
    background: linear-gradient(to right, #856a5d 0%, #fcf7f8 50%, #515b3a 100%);
}

/* Blanc #fcf7f8 / Vert foncé #515b3a / Violet #856a5d */
container-fluid {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #856a5d 0%, #fcf7f8 50%, #515b3a 100%);
}