
<div class="row">
<mat-card class="div-login">		
	<mat-card-content>				  
		<h3>Liens utiles pour progresser en CSS</h3>
		<p>
			Il existe des sites de références permettant d'apprendre les syntaxes Css
		</p>
		<span>
		<mat-list role="list">
			<mat-list-item role="listitem">
				<h4>CSS tutorial :</h4>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://www.w3schools.com/css/default.asp">W3Schools Css</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				<h4>Flexbox tutorial</h4>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://flexboxfroggy.com/#fr">FlexBox Froggy</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">FlexBox Guide</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				<h4>Texte tutorial</h4>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://www.w3schools.com/css/css_text.asp">W3schools Css Text</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				<button class="bouton" mat-raised-button>
					<a routerLink="/">Retour</a>
				</button>
			</mat-list-item>
		</mat-list>
	</span>
	</mat-card-content>
</mat-card>
</div>