<mat-card class="div-login row" style="background: linear-gradient(to bottom, #ffff99 0%, #ffcc99 100%);">		
	<mat-card-content>				  
		<h4 style="margin: auto;">Liens utiles pour progresser en CSS</h4>		
		<mat-list role="list">
			<mat-list-item role="listitem">
				<h4>CSS tutorial :</h4>
			</mat-list-item>
			<mat-list-item role="listitem">
				<p matLine>
					<span><a href="https://www.w3schools.com/css/default.asp">W3Schools Css</a></span>
					<span>test</span>
				</p>
			</mat-list-item>
			<mat-list-item role="listitem">
				
			</mat-list-item>
			<mat-list-item role="listitem">
				<h4>Flexbox tutorial</h4>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://flexboxfroggy.com/#fr">FlexBox Froggy</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">FlexBox Guide</a>
			</mat-list-item>
			<mat-list-item role="listitem">
				Grid tutorial
			</mat-list-item>
			<mat-list-item role="listitem">
			</mat-list-item>
		</mat-list>
		<!--
			<mat-label></mat-label>
			<div class="row">
				
			</div>
		</p>
		<p>
			<mat-label></mat-label>
			<div class="row">
				
				
			</div>
		</p>
		<p>
			<mat-label>Grid tutorial</mat-label>
			<div class="row">
				<a href="https://codepip.com/games/grid-garden/">Grid</a>
			</div>
		</p>
		<p style="justify-content: center;">
			<button mat-raised-button color="warning">
				<a routerLink="/">Retour</a>
			</button>
		</p>
	-->	
	</mat-card-content>
</mat-card>
