

.div-login{
    width: 40em;
}

fa-icon{
    font-size: 50px;
    margin: 20px;
}

mat-card{
    max-width: 30%;
    margin: auto;
    margin-top:28px;
    min-height: 26em;
}

.div-login{
    min-width: 49%;
    margin-right: 15em;
}

.texte{
    margin-left: 14.5em;
    max-width: 13.5em;
    max-height: 34.7em;
}


.log {
    margin-top: 20px;
}

.boutons {
    margin-left: 9%;
    margin-top: 32px;
    text-align: center;
    width: 80%;
    background-color: #ffcc99;
    position: static;
    color: rgb(48, 47, 47);
}

/* Blanc #fcf7f8 / Vert foncé #515b3a / Violet #856a5d */
container-fluid {
    display: flex;
    flex-direction: row;
}

h3 {
    text-align: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Ropa Sans', sans-serif;
}

h4{
    font-family: 'Amatic SC', cursive;
    font-family: 'Ropa Sans', sans-serif;
}

p {
    margin: auto;
    justify-content: center;
    font-family: 'Annie Use Your Telescope';
}

a {
    font-style: oblique;
    cursor: pointer;
}
