/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-image: linear-gradient(-40deg, #517263 0%, #557868 20%, #79a390);
  /*background: linear-gradient(-40deg,#428fd0 0%, #428fd0 0%,#8fb3da 100%);*/
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans', sans-serif;
}

router-outlet {
  width:100%;
  height:100%;
}