/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-image: linear-gradient(to bottom right, #557868, #70a18b);
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

router-outlet {
  width:100%;
  height:100%;
}