<div id="containerToFind">
	<div *ngFor="let element of levelMechanic.levelElements" [id]="'elementToFind' + element.order">
		<img [src]="'data:' + element.elementImage?.resultContentType + ';base64,' + element.elementImage.result" style="width:100%;" *ngIf="element.elementImage && element.elementImage.result"/>
		<span *ngIf="element.text && element.text != ''">{{element.text}}</span>
	</div>
</div>
<div id="containerBase">
	<div *ngFor="let element of levelMechanic.levelElements" [id]="'elementBase' + element.order" [className]="element.name">
		<img [src]="'data:' + element.elementImage?.baseContentType + ';base64,' + element.elementImage.base" style="width:100%;" *ngIf="element.elementImage && element.elementImage.base"/>
		<span *ngIf="element.text && element.text != ''">{{element.text}}</span>
	</div>
</div>
<div id="containerCard">
	<mat-card id="cardForm">
		<h3>Créer un niveau</h3>
		<form class="container-fluid" role="form" (ngSubmit)="save()">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<mat-form-field class="col-12">
							<input type="text" matInput placeholder="Titre" name="title" id="title" [(ngModel)]="levelMechanic.title">
						</mat-form-field>
					</div>
					<div class="row">
						<mat-form-field class="col-12">
							<mat-label>Catégorie</mat-label>
							<mat-select name="categoryId" [(ngModel)]="categoryId">
								<mat-option *ngFor="let categorie of categories" [value]="categorie.id">
									{{categorie.title}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<mat-form-field class="col-12">
							<textarea type="text" matInput rows="3" placeholder="Description" name="description" id="description" [(ngModel)]="levelMechanic.description"></textarea>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<mat-card id="cardFormContainer">
						<mat-card-title>Contenant</mat-card-title>
						<mat-card-content>
							<div class="row">
								<mat-form-field class="col-12">
									<textarea type="text" matInput rows="3" placeholder="CSS de base" name="containerCssBase" id="containerCssBase" (focusout)="draw('containerBase');draw('containerToFind')" [(ngModel)]="levelMechanic.containerCssBase"></textarea>
								</mat-form-field>
							</div>
							<div class="row">
								<mat-form-field class="col-12">
									<textarea type="text" matInput rows="3" placeholder="CSS à trouver" name="containerCssToFind" id="containerCssToFind" (focusout)="draw('containerToFind')" [(ngModel)]="levelMechanic.containerCssToFind"></textarea>
								</mat-form-field>
							</div>
							<div class="row">
								<div class="col-12">
									<mat-checkbox name="split" [(ngModel)]="levelMechanic.split" (change)="draw('containerBase');draw('containerToFind');">Contenant divisé</mat-checkbox>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-5">
					<mat-card id="cardFormElements">
						<mat-card-title>Ajouter un élément</mat-card-title>
						<mat-card-content>
							<div class="row">
								<div class="col-6">
									<div class="row">
										<mat-form-field class="col-12">
											<input type="text" matInput placeholder="Nom de l'élément" name="elementName" id="elementName" [ngModelOptions]="{standalone: true}" [(ngModel)]="levelElement.name">
										</mat-form-field>
										<mat-form-field class="col-12">
											<input matInput type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="quantity" placeholder="Quantité">
										</mat-form-field>
										<div class="col-12">
											<div class="elementImageSelected" *ngIf="levelElement.elementImage">
												<div class="elementImageCardName">{{ levelElement.elementImage.name }}</div>
												<img [src]="'data:' + levelElement.elementImage.baseContentType + ';base64,' + levelElement.elementImage.base" style="width:50%" *ngIf="levelElement.elementImage.base"/>
												<img [src]="'data:' + levelElement.elementImage.resultContentType + ';base64,' + levelElement.elementImage.result" style="width:50%" *ngIf="levelElement.elementImage.result"/>
											</div>
											<div class="elementTextSelected" *ngIf="levelElement.text && levelElement.text != ''">
												// texte validé //
											</div>
										</div>
										<div class="col-12">
											<button *ngIf="!levelMechanic.split" type="button" mat-stroked-button style="width:100%" (click)="openImageSelection(modalImageSelection)">Choisir une image</button>
											<button *ngIf="levelMechanic.split" type="button" mat-stroked-button style="width:50%" (click)="openImageSelection(modalImageSelection)">Image</button>
											<button *ngIf="levelMechanic.split" type="button" mat-stroked-button style="width:50%" (click)="openImageSelection(modalTextSelection)">Texte</button>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row">
										<mat-form-field class="col-12">
											<textarea type="text" matInput rows="3" placeholder="CSS de base" name="cssElementBase" id="cssElementBase" [ngModelOptions]="{standalone: true}" [(ngModel)]="levelElement.cssBase"></textarea>
										</mat-form-field>
									</div>
									<div class="row">
										<mat-form-field class="col-12">
											<textarea type="text" matInput rows="3" placeholder="CSS à trouver" name="cssElementResult" id="cssElementResult" [ngModelOptions]="{standalone: true}" [(ngModel)]="levelElement.cssToFind"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<button type="button" mat-stroked-button style="width:100%" (click)="addLevelElement()">Ajouter l'élément</button>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-4">
					<mat-card id="cardListElements">
						<mat-card-title>Elements du niveau</mat-card-title>
						<mat-card-content>
							<button class="buttonActions" id="buttonUp" (click)="elementsUp()" type="button" mat-stroked-button color="primary">
								<fa-icon [icon]="faArrowUp"></fa-icon>
								Monter
							</button>
							<button class="buttonActions" id="buttonDown" (click)="elementsDown()" type="button" mat-stroked-button color="primary">
								<fa-icon [icon]="faArrowDown"></fa-icon>
								Descendre
							</button>
							<button class="buttonActions" id="buttonDelete" (click)="elementsDelete()" type="button" mat-stroked-button color="primary">
								<fa-icon [icon]="faTrash"></fa-icon>
								Supprimer
							</button>
							<div class="row">
								<mat-selection-list style="max-height:200px;overflow: auto" class="col-12" #elements>
									<mat-list-option *ngFor="let element of levelMechanic.levelElements" [value]="element.order">
										{{element.name}}
									</mat-list-option>
								</mat-selection-list>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button id="buttonSubmit" type="submit" mat-stroked-button color="primary">{{ levelMechanic.id == null ? 'Créer' : 'Modifier' }}</button>
				</div>
			</div>
		</form>
	</mat-card>
</div>

<ng-template #modalImageSelection let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sélectionner une image</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" id="containerElementImageCard">
		<mat-card class="elementImageCard" *ngFor="let ei of elementImages" (click)="selectImage(ei);modal.close('image selected');">
			<div class="elementImageCardName">{{ ei.name }}</div>
			<img [src]="'data:' + ei.baseContentType + ';base64,' + ei.base" style="width:50%" *ngIf="ei.base"/>
			<img [src]="'data:' + ei.resultContentType + ';base64,' + ei.result" style="width:50%" *ngIf="ei.result"/>
		</mat-card>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Annuler')">Annuler</button>
	</div>
</ng-template>

<ng-template #modalTextSelection let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Ecrire un texte</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<textarea type="text" matInput rows="3" placeholder="Texte de l'élément" name="text" id="text"  [(ngModel)]="levelElement.text"></textarea>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="levelElement.elementImage=null;modal.close('Valider')">Valider</button>
		<button type="button" class="btn btn-outline-dark" (click)="levelElement.text='';modal.close('Annuler')">Annuler</button>
	</div>
</ng-template>