<h3>Créer un niveau</h3>
<form class="container-fluid" role="form" (ngSubmit)="save()" [formGroup]="levelMechanicForm">
	<div class="row">
		<mat-form-field class="col-12">
			<input type="text" matInput placeholder="Titre" name="title" id="title" formControlName="title">
		</mat-form-field>
    </div>
	<div class="row">
		<mat-form-field class="col-12">
			<input type="text" matInput placeholder="Description" name="description" id="description" formControlName="title">
		</mat-form-field>
    </div>
	<div class="row">
		<mat-form-field class="col-12">
            <mat-label>Catégorie</mat-label>
            <mat-select>
                <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
                  {{categorie.title}}
                </mat-option>
              </mat-select>
		</mat-form-field>
	</div>
	<div class="row">
		<mat-card class="col-12">
			<mat-card-title>Elements du niveau</mat-card-title>
			<mat-card-content>
				<div class="row">
					<mat-form-field class="col-6">
						<input type="text" matInput placeholder="Nom de l'élément" name="elementName" id="elementName" formControlName="title">
					</mat-form-field>
					<mat-selection-list class="col-6" #elements>
						<mat-list-option *ngFor="let element of levelMechanic.levelElements">
							{{element.name}}
						</mat-list-option>
					</mat-selection-list>
				</div>
			</mat-card-content>
		</mat-card>

	</div>
	
    cssBase: string;
    cssToFind: string;
	<div class="row">
		<div class="col-12">
			<button type="submit" mat-stroked-button color="primary">{{ levelMechanic.id == null ? 'Créer' : 'Modifier' }}</button>
		</div>
	</div>
</form>