#containerUi {
    position: absolute;
    top:0;
    left:0;
    z-index:99;
    width:100%;
    height:100%;
}

#containerAnswer {
    position: absolute;
    bottom:0;
    left:0;
    z-index:99;
    width:100%;
    opacity:0.5;
}

#containerAnswer:hover {
    opacity:1;
}

#cardAnswer {
    max-width:60%;
    margin:0 auto;

}

#formAnswer {
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;

}

#containerBack {
    position:absolute;
    z-index:99;
    top:10px;
    left:30px;
    opacity:0.3;
    font-size:70px;
    cursor: pointer;
    color:#fafafa;
}

#containerBack:hover {
    opacity:1;
}

.divAnswer {
}

.listAnswer, .textareaToFind {
    display:block;
    padding-left:20px;
    margin:0;
}
