#cardForm {
    width:75%;
    margin: 30px auto;
    opacity: 0.1;
}

#cardForm:hover {
    opacity: 1;
}

#buttonSubmit, #buttonPreview {
    float:right;
}

#containerCard {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
}

#description {
    box-sizing: border-box; /* fit parent width */
    height: 100%;
}

#cardFormContainer, #cardFormElements, #cardListElements {
    margin:5px;
    width:100%;
}

#cardListElements {
    max-height: 300px;
}


#elementImageSelected {
    width:80%;
    margin:10px auto;
}

#elementTextSelected {
    width:80%;
    margin:10px auto;
    text-align: center;
}

.elementImageCardName {
    font-weight:bold;
    text-align:center;
}

.elementImageCard {
    width:200px;
    margin:20px 10px;
}

.elementImageCard:hover {
    background-color:#a8aaa7;
}

#containerElementImageCard {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.buttonActions {
    width: 33%;
}

#containerBack {
    position:absolute;
    z-index:99;
    top:10px;
    left:30px;
    opacity:0.3;
    font-size:70px;
    cursor: pointer;
    color:#fafafa;
}

#containerBack:hover {
    opacity:1;
}